{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
{% load static %}

    <!-- Barre de navigation en gris avec une image centrée -->
    <nav class="navbar navbar-expand-lg" style="background-color: #6c757d;"> <!-- Gris clair -->
        <div class="container-fluid justify-content-center">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/eventmate.png' %}" alt="EventMate" width="150">
            </a>
        </div>
    </nav>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header text-center">
                    <h2 class="card-title">S'inscrire</h2>
                </div>
                <div class="card-body">
                    <form method="post" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            {{ form.username.label_tag }}
                            {{ form.username|add_class:"form-control" }}
                        </div>
                        <div class="mb-3">
                            {{ form.password1.label_tag }}
                            {{ form.password1|add_class:"form-control" }}
                        </div>
                        <div class="mb-3">
                            {{ form.password2.label_tag }}
                            {{ form.password2|add_class:"form-control" }}
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-block">S'inscrire</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

